<h1>List of books</h1>
  <input type="button" value="Add book" class="btn btn-default" (click)="addBook()" />
  <input type="text" placeholder="Find a book..." [(ngModel)]="searchStr" >
<table class="table table-striped">
  <thead class="thead">
    <tr>
      <th></th>
      <th class="click" [appSort]="books" data-order="desc" data-name="title">Title</th>
      <th></th>
      <th class="text-center">Description</th>
      <th class="" [appSort]="books" data-order="desc" data-name="pageCount">Page count</th>
      <th class="" [appSort]="books" data-order="desc" data-name="publishDate" data-type="date">Publish date</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody class="tbody text-center">
    <tr *ngFor="let book of books | searchPosts: searchStr">
      <ng-template [ngTemplateOutlet]="loadTemplate(book)" [ngTemplateOutletContext]="{ $implicit: book}">
      </ng-template>
    </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-book>
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.pageCount}}</td>
      <td>{{book.publishDate | date: 'dd.MM.yyyy'}}</td>
      <td>
          <input type="button" value="Edit" class="btn btn-default" (click)="editBook(book)" />
      </td>
      <td>
          <input type="button" value="Delete" (click)="deleteBook(book)" class="btn btn-danger" />
      </td>
</ng-template>

<ng-template #editTemplate>
      <td>
          <input type="text" [(ngModel)]="editedBook.title" class="form-control" />
       </td>
      <td>
          <input type="text" [(ngModel)]="editedBook.description" class="form-control" />
      </td>
      <td>
         <input type="number" [(ngModel)]="editedBook.pageCount" class="form-control" />
      </td>
      <td>
         <input type="date" [(ngModel)]="editedBook.publishDate" class="form-control" />
      </td>
      <td>
         <input type="button" value="Save" (click)="saveBook()" class="btn btn-success" />
      </td>
      <td>
         <input type="button" value="Сancel" (click)="cancel()" class="btn btn-warning" />
      </td>
</ng-template>